<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.providers.media.tools.dialogs">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:label="DialogsTool">
        <activity android:name=".DialogsActivity">
            <intent-filter android:label="DialogsTool">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
         </activity>
    </application>
</manifest>
